---
- name: Install Java runtime for Jenkins
  ansible.builtin.apt:
    name: openjdk-17-jdk
    state: present
    update_cache: true

- name: Point Jenkins to Java 17
  ansible.builtin.lineinfile:
    path: /etc/default/jenkins
    regexp: '^JAVA_HOME='
    line: 'JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64'
  notify: Restart Jenkins

- name: Add Jenkins repository key
  ansible.builtin.apt_key:
    url: https://pkg.jenkins.io/debian-stable/jenkins.io-2023.key
    state: present

- name: Add Jenkins repository
  ansible.builtin.apt_repository:
    repo: deb https://pkg.jenkins.io/debian-stable binary/
    state: present

- name: Install Jenkins
  ansible.builtin.apt:
    name: jenkins
    state: present
    update_cache: true

- name: Ensure Jenkins service is enabled and started
  ansible.builtin.systemd:
    name: jenkins
    enabled: true
    state: started
