---
- name: Create SonarQube directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0775"
  loop:
    - /opt/sonarqube/data
    - /opt/sonarqube/extensions
    - /opt/sonarqube/logs

- name: Pull SonarQube image
  community.docker.docker_image:
    name: sonarqube
    tag: lts
    source: pull

- name: Run SonarQube container
  community.docker.docker_container:
    name: sonarqube
    image: sonarqube:lts
    restart_policy: always
    ports:
      - "9000:9000"
    env:
      SONAR_ES_BOOTSTRAP_CHECKS_DISABLE: "true"
    volumes:
      - /opt/sonarqube/data:/opt/sonarqube/data
      - /opt/sonarqube/extensions:/opt/sonarqube/extensions
      - /opt/sonarqube/logs:/opt/sonarqube/logs
